<div class="container rounded text-center">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Eat Da Burger</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class= "col-md-4"></div>
        <div class="col-md-4">
            <form>
                <div class="form-group text-center">
                    <input class="form-control" id="new-burger" placeholder="Name Da Burger!"></input>
                    <button type="submit" id = "submit-burger" class="btn btn-primary">Submit Da Burger!</button>
                </div>
            </form>
        </div>
        <div class= "col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>