<div class = "container">
        <div class = "row">
            <div class = "col-md-12">
                <img src = "../public/images/Avocado-Chicken-Burgers_9.jpg">
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-6">

            </div>
            <div class = "col-md-6">

            </div>
        </div>
</div>